<!DOCTYPE html>
<html>
<head>
    <title>Editar Inscrito</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-4">
    <h2>Editar Inscrito</h2>

    <form method="POST" class="card p-4">
        {% csrf_token %}

        <label>Nombre</label>
        <input type="text" name="nombre" value="{{ inscrito.nombre }}" class="form-control mb-2">

        <label>Apellido</label>
        <input type="text" name="apellido" value="{{ inscrito.apellido }}" class="form-control mb-2">

        <label>CI</label>
        <input type="text" name="ci" value="{{ inscrito.ci }}" class="form-control mb-2">

        <label>Fecha de nacimiento</label>
        <input type="date" name="fecha_nacimiento" value="{{ inscrito.fecha_nacimiento }}" class="form-control mb-3">

        <button class="btn btn-warning">Actualizar</button>
        <a href="{% url 'listar_inscritos' %}" class="btn btn-secondary">Volver</a>
    </form>
</div>
</body>
</html>
