{%extends 'base.html'%}

{% block title %}VIDAS RADIANTES{% endblock title %}

{%block content%}
{% if user.is_superuser %}
<div>
    <h2>Agregar Inscrito</h2>

    <form method="POST"  class="formulario1">
        {% csrf_token %}

        <label>Nombre</label>
        <input type="text" name="nombre" required>

        <label>Apellido</label>
        <input type="text" name="apellido" required>

        <label>CI</label>
        <input type="text" name="ci">

        <label>Fecha de nacimiento</label>
        <input type="date" name="fecha_nacimiento">

        <button class="guardar">Guardar</button>
        <button class="cancelar"><a href="{% url 'listar_inscritos' %}">Volver</a></button>
    </form>
</div>
{% else %}
    <p class="NoPermiso">No tienes permiso para agregar inscritos.</p>
{% endif %}
{%endblock%}