{% extends 'base.html' %}

{% block title %}VIDAS RADIANTES{% endblock title %}

{% block content %}
<div>
    {% if user.is_authenticated %}
        <div class="subtitulo">
            <h2>Lista de Inscritos</h2>
            {% if user.is_superuser %}
                <a href="{% url 'agregar_inscrito' %}" class="agregar">Agregar Inscrito</a>
            {% endif %}
        </div>

        <table class="tabla1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>CI</th>
                    <th>Nacimiento</th>
                    {% if user.is_superuser %}
                    <th>Acciones</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for i in inscritos %}
                <tr>
                    <td>{{ i.id_inscrito }}</td>
                    <td>{{ i.nombre }}</td>
                    <td>{{ i.apellido }}</td>
                    <td>{{ i.ci }}</td>
                    <td>{{ i.fecha_nacimiento }}</td>
                    {% if user.is_superuser %}
                    <td>
                        <a href="{% url 'editar_inscrito' i.id_inscrito %}">Editar</a>
                        <a href="{% url 'eliminar_inscrito' i.id_inscrito %}" onclick="return confirm('¿Eliminar inscrito?')">Eliminar</a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr><td colspan="6">No hay datos</td></tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No estás logueado. Por favor, <a href="{% url 'login' %}">inicia sesión</a> para ver los inscritos.</p>
    {% endif %}
</div>
{% endblock %}
