{% extends 'base.html' %}

{% block title %}VIDAS RADIANTES{% endblock title %}

{% block content %}
<div>
    {% if user.is_authenticated %}
        <div class="subtitulo">
            <h2>Eventos</h2>
            {% if user.is_superuser %}
                <a href="{% url 'agregar_evento' %}" class="agregar">Agregar Evento</a>
            {% endif %}
        </div>

        <table class="tabla1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Propósito</th>
                    <th>Fecha</th>
                    {% if user.is_superuser %}
                    <th>Acciones</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for e in eventos %}
                <tr>
                    <td>{{ e.id_evento }}</td>
                    <td>{{ e.nombre_evento }}</td>
                    <td>{{ e.proposito }}</td>
                    <td>{{ e.fecha_evento }}</td>
                    {% if user.is_superuser %}
                    <td>
                        <a href="{% url 'editar_evento' e.id_evento %}">Editar</a>
                        <a href="{% url 'eliminar_evento' e.id_evento %}" onclick="return confirm('¿Eliminar evento?')">Eliminar</a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr><td colspan="5">No hay datos</td></tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No estás logueado. Por favor, <a href="{% url 'login' %}">inicia sesión</a> para ver los eventos.</p>
    {% endif %}
</div>
{% endblock %}
