


{%extends 'base.html'%}

{% block title %}ACTUALIZAR VOLUNTARIO{% endblock title %}

{%block content%}
{% if user.is_superuser %}
<div>
    <h2>Editar Voluntario</h2>

    <form method="POST"  class="formulario1">
        {% csrf_token %}

        <label>Nombre</label>
        <input type="text" name="nombre" value="{{ voluntario.nombre }}" >

        <label>Apellido</label>
        <input type="text" name="apellido" value="{{ voluntario.apellido }}" >

        <label>Rol</label>
        <input type="text" name="rol" value="{{ voluntario.rol }}">

        <label>CI</label>
        <input type="text" name="ci" value="{{ voluntario.ci }}" >

        <label>Correo</label>
        <input type="email" name="correo" value="{{ voluntario.correo }}" >

        <button class="guardar">Actualizar</button>
        <button class="cancelar"><a href="{% url 'listar_voluntarios' %}" >Volver</a></button>
    </form>
</div>
{% else %}
    <p class="NoPermiso">No tienes permiso para actualizar voluntarios.</p>
{% endif %}
{%endblock%}