{%extends 'base.html'%}

{% block title %}AGREGAR VOLUNTARIO{% endblock title %}

{%block content%}
{% if user.is_superuser %}
<div  class="formulario1">
    <h2>Agregar Voluntario</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Nombre</label>
        <input type="text" name="nombre" required>

        <label>Apellido</label>
        <input type="text" name="apellido" required>

        <label>Rol</label>
        <input type="text" name="rol" >

        <label>CI</label>
        <input type="text" name="ci" >

        <label>Correo</label>
        <input type="email" name="correo" >

        <button class="guardar" >Guardar</button>
        <button class="cancelar"><a href="{% url 'listar_voluntarios' %}">Volver</a></button>
    </form>

</div>
{% else %}
    <p class="NoPermiso">No tienes permiso para agregar voluntarios.</p>
{% endif %}
{%endblock%}