{% extends 'base.html' %}

{% block title %}LISTA DE VOLUNTARIOS{% endblock title %}

{% block content %}
<div>
    {% if user.is_authenticated %}
        <div class="subtitulo">
            <h2>Lista de Voluntarios</h2>
            {% if user.is_superuser %}
                <a href="{% url 'agregar_voluntario' %}" class="agregar">Agregar Voluntario</a>
            {% endif %}
        </div>

        <table class="tabla1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Rol</th>
                    <th>CI</th>
                    <th>Correo</th>
                    <th>Horas</th>
                    {% if user.is_superuser %}
                    <th>Acciones</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for v in voluntarios %}
                <tr>
                    <td>{{ v.id_voluntario }}</td>
                    <td>{{ v.nombre }}</td>
                    <td>{{ v.apellido }}</td>
                    <td>{{ v.rol }}</td>
                    <td>{{ v.ci }}</td>
                    <td>{{ v.correo }}</td>
                    <td>{{ v.horas_acumuladas }}</td>
                    {% if user.is_superuser %}
                    <td>
                        <a href="{% url 'editar_voluntario' v.id_voluntario %}">Editar</a>
                        <a href="{% url 'eliminar_voluntario' v.id_voluntario %}" onclick="return confirm('¿Eliminar voluntario?')">Eliminar</a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr><td colspan="8">No hay datos</td></tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No estás logueado. Por favor, <a href="{% url 'login' %}">inicia sesión</a> para ver los voluntarios.</p>
    {% endif %}
</div>
{% endblock %}
