{%extends 'base.html'%}

{% block title %}VIDAS RADIANTES{% endblock title %}

{%block content%}
{% if user.is_superuser %}
<div>

    <h2>Registrar Nueva Asistencia</h2>

    <form method="POST" class="formulario1">
        {% csrf_token %}

        <label>Evento</label>
        <select name="evento" required>
            {% for e in eventos %}
                <option value="{{ e.id_evento }}">{{ e.nombre_evento }}</option>
            {% endfor %}
        </select>

        <label>Voluntario (opcional)</label>
        <select name="voluntario">
            <option value="">Ninguno</option>
            {% for v in voluntarios %}
                <option value="{{ v.id_voluntario }}">{{ v.nombre }} {{ v.apellido }}</option>
            {% endfor %}
        </select>

        <label>Inscrito (opcional)</label>
        <select name="inscrito">
            <option value="">Ninguno</option>
            {% for i in inscritos %}
                <option value="{{ i.id_inscrito }}">{{ i.nombre }} {{ i.apellido }}</option>
            {% endfor %}
        </select>

        <label>Hora de llegada</label>
        <input type="datetime-local" name="hora_llegada" required>

        <label>Hora de salida</label>
        <input type="datetime-local" name="hora_salida" required>

        <button class="guardar">Guardar</button>
        <button class="cancelar"><a href="{% url 'listar_asistencias' %}">Volver</a></button>
    </form>
</div>
{% else %}
    <p class="NoPermiso">No tienes permiso para agregar asistencias.</p>
{% endif %}
{%endblock%}