{% extends 'base.html' %}

{% block title %}ASISTENCIAS{% endblock title %}

{% block content %}

<div>
    {% if user.is_authenticated %}
        <div class="subtitulo">
            <h2>Asistencias</h2>
            {% if user.is_superuser %}
                <a href="{% url 'agregar_asistencia' %}" class="agregar">Registrar Asistencia</a>
            {% endif %}
        </div>

        <table class="tabla1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Evento</th>
                    <th>Voluntario</th>
                    <th>Inscrito</th>
                    <th>Llegada</th>
                    <th>Salida</th>
                    {% if user.is_superuser %}
                    <th>Acciones</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for a in asistencias %}
                <tr>
                    <td>{{ a.id_asistencia }}</td>
                    <td>{{ a.evento.nombre_evento }}</td>
                    <td>
                        {% if a.voluntario %}
                            {{ a.voluntario.nombre }} {{ a.voluntario.apellido }}
                        {% else %}
                            —
                        {% endif %}
                    </td>
                    <td>
                        {% if a.inscrito %}
                            {{ a.inscrito.nombre }} {{ a.inscrito.apellido }}
                        {% else %}
                            —
                        {% endif %}
                    </td>
                    <td>{{ a.hora_llegada }}</td>
                    <td>{{ a.hora_salida }}</td>
                    {% if user.is_superuser %}
                    <td>
                        <a href="{% url 'editar_asistencia' a.id_asistencia %}">Editar</a>
                        <a href="{% url 'eliminar_asistencia' a.id_asistencia %}" onclick="return confirm('¿Eliminar registro?')">Eliminar</a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr><td colspan="7">No hay registros</td></tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p class="NoPermiso">No estás logueado. Por favor, <a href="{% url 'login' %}">inicia sesión</a> para ver las asistencias.</p>
    {% endif %}
</div>

{% endblock %}
